<div class="finalContainer">
  <span class="d-flex justify-content-center coolLogoText">COOL LOGO</span>
  <hr class="m-20-10 hrNormal">
  <p class="font-weight-bolder pt-3">Well done!</p>
  <p>Think of a nickname</p>
  <p>Keep it in your mind</p>
  <p class="mb-5">Oh, I almost forgot... to start playing - contact Kiy ;)</p>
  <hr class="m-20-10 hrNormal">
  <div class="d-flex justify-content-center">
    <button class="btn finishButton"
            [routerLink]="'/'">Go again</button>
  </div>
</div>
