<div>
  <span class="d-flex justify-content-center coolLogoText">COOL LOGO</span>
  <span class="d-flex justify-content-center slogan">"not trivial slogan"</span>
  <hr class="m-20-10 hrNormal">
  <div class="textBlock">Today I will teach you how to  create a character in computer  games</div>
  <hr class="m-20-10 hrRotated">
  <div class="textBlock">I'm sure you already know how  but can you create a character  creator?</div>
  <hr class="m-20-10 hrNormal">
  <div class="d-flex justify-content-center">
    <button class="btn startButton"
            [routerLink]="'/char'"
            [queryParams]="{prevPageName: 'start'}">Lets start</button>
  </div>
</div>

