.char-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.personImage{
  /*flex: 0 0 50%;*/
  height: 50%;
}

.personImage img{
  width: 100%;
}

.selectThemeBlock {
  height: 100%;
  margin: 0;
  padding: 10px 15px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectThemeBlockInside{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.BgText{
  font-size: 16px;
}

.questionHeader{
  font-family: Roboto;
  font-size: 20px;
  line-height: 28px;
}

/*radio-button-styling*/
.selectThemeContainer {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 16px;
}

.selectThemeContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 50%;
}

.selectThemeContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.selectThemeContainer input:checked ~ .checkmark:after {
  display: block;
}

.selectThemeContainer .checkmark:after {
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
}

.nextBtn{
  color: white;
}

.dayThemeBg{
  background: #FFF9F9;
}

.nightThemeBg{
  background: #0C0C08;
}

.dayThemeFg{
  color: black;
}

.nightThemeFg{
  color: white;
}

.dayCheckmark{
  border: 1px solid black;
}

.nightCheckmark{
  border: 1px solid white;
}

.daySaveButton{
  background: #93C2ED;
}

.nightSaveButton{
  background: #5B6D7E;
}



