.tipsContainer{
  background: #EAEBB8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 20px;
  line-height: 24px;
  background: #EAEBB8;
  color: #716868;
}

.closeBtn{
  all: unset;
  padding: 0 5px;
}

.pre-line{
  white-space: pre-line;
}
